*.o
*~
*.gch
*.so
*.a
*.aux
*.log
*.gch
*.Rnw.backup
*.tar.gz
*.zip
.RData
*.rdat
*.Rout
.sync.ffs_db
*.Rcheck
*.egg-info
*.pyc
dgemmPy/build
dgemmPy/.cache
.cache
dgemmPy/__pycache__
.vscode/ipch
cpp/build
*.out
*.synctex.gz
